bertopic==0.9.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
pymongo[tls,srv]==4.0.1
scikit-learn==1.0.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
streamlit==1.4.0
streamlit-tags==1.2.8
sentence-transformers==2.1.0
plotly==5.5.0
numba==0.53
numpy==1.20.3
joblib==1.1.0
click==8.0.4
huggingface-hub==0.10.1
